.penguin-card{
    border: 0;

}
.penguin-card-footer{
    background-color: white;
    border: 0;
}
.categories img{
    width: 100px;
}
.penguin-slide .carousel-item{
    background-color: #fceae8;
    border-radius: 1em;

}
.romantic-color{
    color:darkorange;
    font-size: 65px;
    
}
.text-size{
    font-size: 65px;
}
.doller-color{
    color:darkorange;
}

